@keyframes water-waves {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.water-round-container {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 50px;
}

.water-wave1 {
  position: absolute;
  top: 40%;
  left: -25%;
  background: #33cfff;
  opacity: 0.7;
  width: 200%;
  height: 180%;
  border-radius: 42%;
  animation: water-waves 20s linear infinite;
}

.water-wave2 {
  position: absolute;
  top: 45%;
  left: -35%;
  background: #0eaffe;
  opacity: 0.5;
  width: 200%;
  height: 200%;
  border-radius: 45%;
  animation: water-waves 22s linear infinite;
}

.water-wave3 {
  position: absolute;
  top: 50%;
  left: -35%;
  background: #0f7ae4;
  opacity: 0.3;
  width: 200%;
  height: 200%;
  border-radius: 60%;
  animation: water-waves 24s linear infinite;
}
